@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

.todo {
    padding-left: 20px;
}

input[type="text"] {
    color: black;
    margin-left: 20px;
}

button.action {
    margin-left: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    outline: none;
    padding: 8px .8em;
    position: relative;
    user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

button.save {
    background-color: #04AA6D; /* Green */
}

button.cancel {
    background-color: gray;
}

button.delete {
    background-color: lightcoral;
}

hr, li {
    margin-bottom: 12px;
}

.new-todo {
    margin-bottom: 12px;
}

.strikethrough {
    text-decoration: line-through;
}
